<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}"/>
    <title>Schlagzeilensammler</title>
</head>
<body>
    <h1>Willkommen beim Schlagzeilensammler</h1>
    <ol>
        <li class="media-element">
            <div class="img">
                <img class="logo" src="https://bilder.deutschlandfunk.de/FI/LE/_c/d7/FILE_cd7fe2b3d944a65650ee9b89d0df82ea/dlf-die-nachrichten-podcast-kachel-3000x3000px-srgb-jpg-100-1920x1920.jpg" alt="Deutschlandradio" />
            </div>
            <p class="date">Fri, 08 Nov 2024 17:15:55 +0100</p>
            <h2 class="title">
                Nach Koalitions-Bruch - Termin für Neuwahl: Scholz zeigt sich erstmals gesprächsbereit
            </h2>
            <p class="description">
                Bundeskanzler Scholz hat sich grundsätzlich verhandlungsbereit über einen Termin für eine Neuwahl gezeigt. Der SPD-Politiker äußerte sich dazu am Rande des EU-Gipfels in Budapest. Scholz betonte, man sollte möglichst unaufgeregt über den Termin diskutieren.
                <a href="https://www.deutschlandfunk.de/termin-fuer-neuwahl-scholz-zeigt-sich-erstmals-gespraechsbereit-100.html">...weiterlesen</a>
            </p>
        </li>
        <li class="media-element">
            <div class="img">
                <img class="logo" src="https://bilder.deutschlandfunk.de/FI/LE/_c/d7/FILE_cd7fe2b3d944a65650ee9b89d0df82ea/dlf-die-nachrichten-podcast-kachel-3000x3000px-srgb-jpg-100-1920x1920.jpg" alt="Deutschlandradio" />
            </div>
            <p class="date">Fri, 08 Nov 2024 17:15:55 +0100</p>
            <h2 class="title">
                Nach Koalitions-Bruch - Termin für Neuwahl: Scholz zeigt sich erstmals gesprächsbereit
            </h2>
            <p class="description">
                Bundeskanzler Scholz hat sich grundsätzlich verhandlungsbereit über einen Termin für eine Neuwahl gezeigt. Der SPD-Politiker äußerte sich dazu am Rande des EU-Gipfels in Budapest. Scholz betonte, man sollte möglichst unaufgeregt über den Termin diskutieren.
                <a href="https://www.deutschlandfunk.de/termin-fuer-neuwahl-scholz-zeigt-sich-erstmals-gespraechsbereit-100.html">...weiterlesen</a>
            </p>
        </li>
        <li class="media-element">
            <div class="img">
                <img class="logo" src="https://bilder.deutschlandfunk.de/FI/LE/_c/d7/FILE_cd7fe2b3d944a65650ee9b89d0df82ea/dlf-die-nachrichten-podcast-kachel-3000x3000px-srgb-jpg-100-1920x1920.jpg" alt="Deutschlandradio" />
            </div>
            <p class="date">Fri, 08 Nov 2024 17:15:55 +0100</p>
            <h2 class="title">
                Nach Koalitions-Bruch - Termin für Neuwahl: Scholz zeigt sich erstmals gesprächsbereit
            </h2>
            <p class="description">
                Bundeskanzler Scholz hat sich grundsätzlich verhandlungsbereit über einen Termin für eine Neuwahl gezeigt. Der SPD-Politiker äußerte sich dazu am Rande des EU-Gipfels in Budapest. Scholz betonte, man sollte möglichst unaufgeregt über den Termin diskutieren.
                <a href="https://www.deutschlandfunk.de/termin-fuer-neuwahl-scholz-zeigt-sich-erstmals-gespraechsbereit-100.html">...weiterlesen</a>
            </p>
        </li>
        
    </ol>
</body>
</html>