<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <title>Channels</title>
</head>
<body>
    <h1>Schlagzeilensammler Channels</h1>
    <ul id="channels-list">
        {% for channel in channels %}
            <li class="channels-item"><img src="{{ channel['image_url'] }}" width="30px" height="30px"/>{{ channel["title"] }}</p>
        {% endfor %}
    </ul>
    <a href="/channels/new">Channel hinzufügen</a>
    <a href="/">Hauptseite</a>
</body>
</html>