{% extends "base.html.j2" %}
{% block title %}Channels{% endblock title %}
{% block heading %}Channels{% endblock heading %}

{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='channels.js') }}" defer></script>
{% endblock head%}

{% block content %}
    <ul id="channels-list">
        {% for channel in channels %}
        <li class="channels-item">
            <img src="{{ channel['image_url'] }}" width="30px" height="30px" />
            {{ channel["title"] }}
            <button onclick="confirmDelete({{ channel['id'] }})">Löschen</button>
        </li>
        {% endfor %}
    </ul>
    <form id="new-channels-form" action="/channels/new" method="post">
        <h2>Neuen RSS-Channel abbonieren</h2>
        <label for="rss_url">RSS Link:</label>
        <input type="text" id="rss_url" name="rss_url" required>
        <button type="submit">Hinzufügen</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="temporary-message">
                <p class="flash">{{ message }}</p>
                <button onclick="dismissMessage(this)">X</button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
{% endblock content %}