{% extends "base.html.j2" %}

{% block title %}Schlagzeilensammler{% endblock %}
{% block heading %}Start{% endblock heading %}

{% block head %}
    {{ super() }}
    <script>
        const channelMap = {
        {% for channel in channels %}
        {{ channel['id'] }}: {
            name: {{ channel['title']|tojson }},
            image_url: {{ channel['image_url']|tojson }},
        },
        {% endfor %}
        };
    </script>
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>
{% endblock head %}

{% block content %}
    <ul id="channels-list-index">
        {% for channel in channels %}
        <li class="channels-item-index">
            <button onclick="reloadArticles({{ channel['id']}})">
                <img src="{{ channel['image_url'] }}" width="60px" height="60px" alt="{{ channel['title'] }}"/>
            </button>
        </li>
        {% endfor %}
    </ul>
    <button id="fetch-rss" type="button" onclick="fetchNew()">Aktualisieren</button>
    <!-- News articles go here using the following template-->
    <ol id="articles-list">
        <!-- -->
    </ol>

    <template id="media-template">
        <li class="media-item">
            <div class="media-item-header">
                <img class="media-icon">
                <span class="media-date"></span>
                <a class="media-link">
                    <h3 class="media-title"></h3>
                </a>
            </div>
            <div class="media-content">
            </div>
        </li>
    </template>
    <!-- End of news articles list -->

    <div id="loader" style="text-align: center; padding: 20px;">Lade mehr Artikel...</div>
{% endblock content %}
