<!DOCTYPE html>
<html lnag="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}"/>
    <title>Schlagzeilensammler</title>
</head>
<body>
    <h1>Willkommen beim Schlagzeilensammler</h1>
    <p>Es gibt aktuell {{ count }} Einträge in der Datenbank.</p>
    <button id="fetch-rss" type="button">Load New Articles</button>

    <!-- News articles go here using the following template-->
    <ul id="articles-list">
        <!-- -->
    </ul>
    
    <template id="media-template">
        <li class="media-item">
            <div class="media-item-header">
                <img class="media-icon" src="https://www.faz.net/favicon.svg" alt="FAZ-Icon">
                <span class="media-date"></span>
                <a class="media-link" ><h3 class="media-title"></h3></a>
            </div>
            <div class="media-content">
            </div>
        </li>
    </template>
    <!-- End of news articles list -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.6/purify.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            if (typeof DOMPurify !== "undefined") {
                console.log("DOMPurify ist bereit!");
            } else {
                console.error("DOMPurify konnte nicht geladen werden.");
            }
        });

        const b = document.getElementById("fetch-rss")
        b.addEventListener("click", async function() {
            const response = await fetch("/fetch-articles");
            const data = await response.json();

            const template = document.getElementById("media-template")
            const list = document.getElementById("articles-list");
            list.innerHTML = ""; // Clear previous entries

            data["articles"].forEach(article => {
                let clone = template.content.cloneNode(true);
                clone.querySelector(".media-title").textContent = article.title;
                clone.querySelector(".media-date").textContent = article.published;
                clone.querySelector(".media-content").insertAdjacentHTML("afterbegin", DOMPurify.sanitize(article.description));
                clone.querySelector(".media-link").href = article.link;
                list.appendChild(clone);
            })
        })

    </script>
</body>
</html>