<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.6/purify.min.js"
        integrity="sha512-H+rglffZ6f5gF7UJgvH4Naa+fGCgjrHKMgoFOGmcPTRwR6oILo5R+gtzNrpDp7iMV3udbymBVjkeZGNz1Em4rQ=="
        crossorigin="anonymous" defer></script>
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>
    <title>Schlagzeilensammler</title>
</head>

<body>
    <h1>Willkommen beim Schlagzeilensammler</h1>
    <p>Es gibt aktuell {{ count }} Einträge in der Datenbank.</p>
    <button id="fetch-rss" type="button">Aktualisieren</button>
    <a id="add-channel" href="/channels/new">Neuen Channel hinzufügen</a>
    <!-- News articles go here using the following template-->
    <ol id="articles-list">
        <!-- -->
    </ol>

    <template id="media-template">
        <li class="media-item">
            <div class="media-item-header">
                <img class="media-icon" src="https://www.faz.net/favicon.svg" alt="FAZ-Icon">
                <span class="media-date"></span>
                <a class="media-link">
                    <h3 class="media-title"></h3>
                </a>
            </div>
            <div class="media-content">
            </div>
        </li>
    </template>
    <!-- End of news articles list -->

    <div id="loader" style="text-align: center; padding: 20px;">Lade mehr Artikel...</div>
</body>

</html>